*{
    padding: 110;
    margin: 10;
}

html, body {
    background-color: skyblue;
    font-family: 'Acme', sans-serif;
    background-image: linear-gradient(to bottom,skyblue, rgb(0, 9, 44));
    font-size: 18px;
}

.title{
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 28px;
    text-shadow: 8px 8px 5px #bd3d84;
}

.title h1 { 
    color: rgb(69, 246, 255);
}

.pure-u-1 img {
    width: 100vw;
    height: 50vh;
}

.pure-u-1-3 {
    text-align: center;
}

.pure-g {
    text-align: center;
    color: rgb(255, 120, 221);
}

.pure-g h1 {
    color: rgb(69, 246, 255);
    text-shadow: 8px 8px 5px #bd3d84;
}
.pure-g h3 {
    color: rgb(69, 246, 255);
    text-shadow: 3px 3px 3px #bd3d84;
}

.pure-g h2 {
    color: rgb(69, 246, 255);
    text-shadow: 3px 3px 3px #bd3d84;
}


.pure-u-1-1 img {
    width: 100vw;
    height: 4vh;
}