*{
    padding: 110;
    margin: 10;
}

html, body {
    background-color: skyblue;
    font-family: 'Acme', sans-serif;
}

.title{
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 28px;
}
.pure-u-1 img {
    width: 100vw;
    height: 70vh;
}

.pure-u-1-3 {
    text-align: center;
}

.pure-g {
    text-align: center;
}

.pure-g barchart_multi {


}

.kida {
    text-align: center;
    margin: 0 auto;
}

.pure-u-1-1 img {
    width: 100vw;
    height: 4vh;
}